div.container.bg-secondary.bg-opacity-25.p-5.w-50
  h1.text-primary.mb-5 Centro de mensajes
  form(onsubmit="return enviarMensaje()")
    div.mb-3.w-50
      input#emailChat.form-control(name="email", type="email", placeholder="E-mail", required=true)
    hr
    div#chat.mb-3
    div.mb-3.d-flex
      div.me-3
        input#msgChat.form-control(name="mensaje", type="text", placeholder="Mensaje", required=true)

      button.btn.btn-primary(type="submit") Enviar